extends layout

block content
	.jumbotron
		.container
			h1 How May I help You?
			p Lorem Ipsum dolor sit, Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit, Lorem Ipsum dolor sit, Lorem Ipsum dolor sit.
			a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p Lorem Ipsum dolor sit, Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit, Lorem Ipsum dolor sit, Lorem Ipsum dolor sit.Lorem Ipsum dolor sit, Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit, Lorem Ipsum dolor sit, Lorem Ipsum dolor sit.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Service
				p Lorem Ipsum dolor sit, Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit, Lorem Ipsum dolor sit, Lorem Ipsum dolor sit.Lorem Ipsum dolor sit, Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit, Lorem Ipsum dolor sit, Lorem Ipsum dolor sit.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Get In Touch
				p Lorem Ipsum dolor sit, Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit, Lorem Ipsum dolor sit, Lorem Ipsum dolor sit.Lorem Ipsum dolor sit, Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit,  Lorem Ipsum dolor sit, Lorem Ipsum dolor sit, Lorem Ipsum dolor sit.
				a.btn.btn-default(href='#') View Details
